	@media only screen and (max-width:678px){
        .body{
            background-size: 300%;
        }
    }
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background-size: cover;
        -webkit-background-size:cover;
        font-family: Poppins;
        
    }
    .form-container{
        
        color: white;
        top:50%;
        left: 50%;
        padding: 60px 30px;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        box-shadow: 8px 8px 50px #000;
        background: white;

    }
    
    h1{
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 13px;
    }

    .wrapper input{
        width: 100%;
        margin-bottom: 20px;
    }

    .wrapper input[type=text], .wrapper input[type=password]{
        
        
        outline: none;
        height: 30px;
        font-size: 16px;
        
    
    }
    .button{
        color: white;
        
        border-radius: 8px;
        width: 100%;
        text-align: center;
        
    }
    

    hr {
        border: none;
        border-top: 1px double #333;
        color: #333;
        opacity: 1;
        overflow: visible;
        text-align: center;
        size: 1px;
    }
    
    hr:after {
        background: #fff;
        content: 'OR';
        opacity: 1;
        padding: 0 8px;
        position: relative;
        top: -13px;
        size: 1px;
        
    }
    


    .fa {
        padding-top: 2%;
        border-radius: 8px;
        font-size: 30px;
        width: 100%;
        height:30px;
        text-align: center;
        text-decoration: none;
      }
      
      
      .fa:hover {
        opacity: 0.7;
      }
      
      
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
    
      .fa-google {
        background: #dd4b39;
        color: white;
      }
      .fa-login {
        background: rgb(69, 226, 231);
        color: white;
      }
      .fa-epam {
        background: rgb(111, 241, 140);
        color: white;
      }
      .fa-envelope{
          width: 30px;
      }
      .fa-key{
        width: 30px;
    }


      .title{
        background: rgb(69, 226, 231);
          padding: 10px;
          text-align: center;
          color: #fff;

          background-size: cover;
      }


      
      .input-container {
        display: -ms-flexbox; 
        display: flex;
        width: 100%;
        margin-bottom: 1px;
      }
      .input-field {
        width: 100%;
        padding: 10px;
        outline: none;
        opacity: 0.7;
      }
      
      .input-field:focus {
        border: 2px solid dodgerblue;
      }
      

      .svg-icon {
        display: inline-flex;
        align-self: center;
        position: relative;
      }